// STYLE
$main-bg-color: #f2f2f8;
$components-bg-color: #fefefe;
$half-transp-component-bg-color: #e6e6e696;
$components-bg-boxshadow: 0 2px 10px rgba(0, 0, 0, 0.1);

//TEXT
$text-primary-color: #070707;
$text-secondary-color: #9d9da0;
//TEXT

//ICON
$fade-icon-color: #bfbfc2;
//ICON

//HORISONTAL LINE
$horisontal-line-color: #e3e3e3;
//HORISONTAL LINE

// BUTTON
// BUTTON

// BUTTON:HOVER
// BUTTON:HOVER

// BUTTON:AFTER
// BUTTON:AFTER

// BUTTON:ACTIVE
// BUTTON:ACTIVE
