@import "../abstract/variables.scss";

body {
  font-family: $first-font-family;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.7;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
textarea,
div,
span,
button {
  font-family: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
